{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Adopción | Veterinaria Cola</title>
    <link rel="stylesheet" href="{% static 'adopciones/css/style.css'%}">
    <link rel="shortcut icon" href="{% static 'adopciones/icons/icon.png'%}">
    <link rel="stylesheet" href="{% static 'adopciones/css/contacto.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'adopciones/css/bootstrap.min.css'%}">
</head>

<body>
    <div class="container container--flex">
        <form method="post" action="" id="formulario" class="formulario column column--50" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form_group">
                {{ form.as_table }}
            </div>
            <input type="submit" class="btn btn-danger" id="enviar" value="Enviar">
            <input type="reset" class="btn btn-primary" id="limnpiar" value="Limpiar">
            <div id="error" class="alert alert-success" role="alert">
                {{ mensaje }}
            </div>
            <a href="/" class="menu__link menu__link--select">Inicio</a>
        </form>
    </div>





    <script src="{% static 'adopciones/js/bootstrap.min.js'%}"></script>

</body>



</html>